<p-toast></p-toast>
<div style="margin-bottom: 20px;">
    <h1>店家查詢作業 </h1>
    <div class="editArea">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="storeName" >
            <label for="float-input">店家名稱</label>
        </span>
        <button pButton pRipple type="button" label="查詢" class="p-button-success" [disabled]="storeName.length===0" (click)="queryStores()"></button>
        <button pButton pRipple type="button" label="清除" class="p-button-raised p-button-secondary p-button-text" (click)="reset()"></button>
        <button pButton pRipple type="button" label="修改" class="p-button-warning" (click)="modify()"></button>
        <button pButton pRipple type="button" label="新增" class="p-button-info" (click)="goFormPage()"></button>
        <button pButton pRipple type="button" label="刪除" class="p-button-danger" (click)="delete()"></button>
    </div>
</div>
<p-confirmDialog #cd [style]="{width: '15vw'}">
    <ng-template pTemplate="header">
        <div style="width: 100%;text-align: center;">
            <div ><i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i></div>
            <h3>您欲刪除 {{selectStore.storeName}} - {{selectStore.storeId}} , 是否確定刪除？</h3>
            <p>點選確定後刪除</p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="comformBtn">
            <button type="button" pButton pRipple class="p-button-success"  label="確定" (click)="cd.accept()" ></button>
            <button type="button" pButton  pRipple label="取消" (click)="cd.reject()" ></button>
        </div>
    </ng-template>
</p-confirmDialog>
<app-table [stores]="stores"  (SetIdEvent)="getStoreId($event)" #dt></app-table>
