.editArea {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}
input[type="text"] {
  margin-bottom: 8px;
  margin-right: 8px;
}
button {
  margin-right: 12px;
}

.comformBtn {
  display: flex;
  justify-content: center;
}
.comformBtn button {
  width: 40%;
}
