h5 {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

.btnDiv {
  button {
    margin-right: 12px;
  }
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  input {
    margin-bottom: 12px;
  }
}

select {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  -moz-appearance: none;
  border-radius: 3px;
  margin-bottom: 12px;
}
