<div style="margin-bottom: 20px;">
    <h1>店家查詢作業</h1>
    <div class="editArea">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText >
            <label for="float-input">店家名稱</label>
        </span>
        <button pButton pRipple type="button" label="查詢" class="p-button-success" ></button>
        <button pButton pRipple type="button" label="清除" class="p-button-raised p-button-secondary p-button-text"></button>
        <button pButton pRipple type="button" label="修改" class="p-button-warning" ></button>
        <button pButton pRipple type="button" label="新增" class="p-button-info" ></button>
        <button pButton pRipple type="button" label="刪除" class="p-button-danger"></button>
    </div>
</div>

<app-table [stores]="stores"></app-table>